.wrapper {
  h1 {
    color: #3498db;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2,
  h3 {
    color: #e74c3c;
    font-size: 24px;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    width: 100%;
    max-width: 500px;
    height: auto;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #e74c3c;
    }
  }

  section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &.highlight {
      background: linear-gradient(45deg, #e74c3c, #c0392b);
      color: #fff;

      h3 {
        color: #fff;
      }

      &:hover {
        background: linear-gradient(45deg, #c0392b, #922b21);
      }
    }
  }

  p {
    margin-bottom: 15px;
    color: #555;
  }

  strong {
    font-weight: bold;
  }

  .education,
  .work-experience,
  .positions-of-responsibility,
  .training-courses,
  .skills,
  .projects,
  .social-profiles {
    h3 {
      color: #e74c3c;
      font-size: 28px;
      margin-bottom: 15px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .education {
    p {
      color: #777;
    }
  }

  .work-experience {
    div {
      margin-bottom: 25px;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    p {
      color: #777;
    }

    a {
      display: block;
      margin-top: 10px;
      color: #3498db;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #e74c3c;
        text-decoration: underline;
      }
    }
  }

  .positions-of-responsibility {
    p {
      color: #777;
    }
  }

  .training-courses {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 8px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 8px;
      }
    }
  }

  .skills {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        margin-right: 12px;
        margin-bottom: 12px;
        background: linear-gradient(45deg, #e74c3c, #c0392b);
        color: #fff;
        padding: 12px 20px;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .projects {
    a {
      display: block;
      margin-top: 15px;
      color: #3498db;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #e74c3c;
        text-decoration: underline;
      }
    }

    img {
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-top: 10px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .social-profiles {
    ul {
      list-style: none;
      padding: 0;
      display: flex;

      li {
        margin-right: 15px;

        a {
          img {
            max-width: 36px;
            height: auto;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
              transform: scale(1.2);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
